/* For light mode */
@media (prefers-color-scheme: light) {
  :root {
    --color-body-bg: #eee !important; /* handles the background color */
    --color-main-text: #1e1e1e !important;
    --color-header-text: #3F5D33 !important;
  }
  }
  
  
  /* For dark mode */
  @media (prefers-color-scheme: dark) {
  :root {
    --color-body-bg: #1e1e1e !important;
    --color-main-text: #eee !important;
    --color-header-text: #d0d0d0 !important;
  }
  }

  ::-moz-selection { /* Code for Firefox */
    color: var(--color-body-bg);
    background: var(--color-header-text);
  }
  
  ::selection {
    color: var(--color-body-bg);
    background: var(--color-header-text);
  }
  

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  :root {
    --page-margin: 10px 30px 10px 30px;
  } 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  :root {
    --page-margin: 20px 50px 20px 50px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  :root {
    --page-margin: 30px 100px 30px 100px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    --page-margin: 50px 100px 50px 100px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  :root {
    --page-margin: 100px 200px 100px 200px;
  }
}


#name-header {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-size: 48px;
  font-weight: 300;
  font-style: normal;
  color: var(--color-header-text);
  padding: 10px 50px 10px 50px;
}


body {
  font-family: "Inter", serif;
  font-weight: 200;
  color: var(--color-main-text);
  background-color: var(--color-body-bg);
  margin: var(--page-margin); /* todo responsive */
}

#main-container {
  display: flex;
  padding: 0 50px 0 50px;
  justify-content: space-between;
}

.small {
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
  margin-bottom: 10px;
}

.large {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

.main-list li {
  padding-top: 20px;
}

.sub-career-list li {
  padding: 2px 10px 0 0;
}

.li-icon {
  color: var(--color-header-text);
  display: flex;
  align-items: center;
  gap: 10px;
}