#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

/* For light mode */
:root[data-mantine-color-scheme="light"] {
  --mantine-color-body: #fbfbcf !important; /* handles the background color */
  --custom-color-accent-1: #373668 !important;
  --custom-color-accent-2: #ac6745 !important;
}
/*
First one - red and yellow USC looking 
  --mantine-color-body: #f6f5eb !important; 
  --custom-color-accent-1: #9e431d !important;
  --custom-color-accent-2: #f3b83c !important;

  --mantine-color-body: #f3f6f6 !important; 
  --custom-color-accent-1: #f35252 !important;
  --custom-color-accent-2: #1b2b4d !important;


*/

/* For dark mode */
:root[data-mantine-color-scheme="dark"] {
  /* body handles the background color */
  /* --mantine-color-body: #102230 !important;
  --custom-color-accent-1: #e1ddd2 !important;
  --custom-color-accent-2: #c84926 !important; */

  --mantine-color-body: #0b3552 !important;
  --custom-color-accent-1: #f7dc88 !important;
  --custom-color-accent-2: #bb8b5c !important;

}

img {
  /* border-radius: 50%;
  border-style: solid;
  border-width: 2px; */
  /* border-color: var(--custom-color-accent-1); */
  /* border-image: linear-gradient(45deg, #9e431d, #f3b83c) 1; */
  border-bottom: 5px solid;
  border-image: linear-gradient(90deg, var(--custom-color-accent-1), var(--custom-color-accent-2)) 1;
}

.mantine-Timeline-itemTitle	{
  color: var(--custom-color-accent-2);
}